body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #4d4de2;
}

button {
  cursor: pointer;
  background-color: #4d4de2; /* Цвет фона кнопки */
  color: #000000; /* Цвет текста кнопки */
  border-radius: 0.5em;
  font-weight: 600;
  padding: 10px 20px; /* Отступы внутри кнопки */
  margin: 20px 0; /* Отступы вокруг кнопки */
  border: none; /* Убираем границу */
  font-size: 16px; /* Размер шрифта */
}

table {
  border-collapse: collapse;
  margin: 100 auto;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 20px;
}

#downloadExcel {
  height: auto; /* Автоматическая высота */
  width: auto; /* Автоматическая ширина */
}
