body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  transition: background-color 0.3s ease;
  color: #4d4de2;
}

body.light-theme {
  background-color: rgba(38, 38, 247, 0.63);
  color: yellow;
  #themeToggle {
    cursor: pointer;
    background-color: rgba(42, 42, 211, 0.712); /* Цвет фона кнопки */
    color: yellow; /* Цвет текста кнопки */
    border-radius: 0.5em;
    font-weight: 600;
    padding: 10px 20px; /* Отступы внутри кнопки */
    margin: 20px 0; /* Отступы вокруг кнопки */
    border: none; /* Убираем границу */
    font-size: 16px; /* Размер шрифта */
    height: auto; /* Автоматическая высота */
    width: auto; /* Автоматическая ширина */
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  form label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="date"],
  form input[type="number"] {
    width: 96%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(38, 38, 247, 0.233);
    border: 2px solid #0000004d;
  }

  form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(38, 38, 247, 0.63);
    color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  form button:hover {
    background-color: #4546a0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .buttons button {
    background-color: rgba(38, 38, 247, 0.63);
    color: yellow;
    border-radius: 0.5em;
    font-weight: 600;
    flex-basis: 70%;
    margin: 0 100px;
    border: none;
    width: auto;
    height: auto;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
}
/*




















*/
body.dark-theme {
  #themeToggle {
    cursor: pointer;
    background-color: #4d4de2; /* Цвет фона кнопки */
    color: #000000; /* Цвет текста кнопки */
    border-radius: 0.5em;
    font-weight: 600;
    padding: 10px 20px; /* Отступы внутри кнопки */
    margin: 20px 0; /* Отступы вокруг кнопки */
    border: none; /* Убираем границу */
    font-size: 16px; /* Размер шрифта */
    height: auto; /* Автоматическая высота */
    width: auto; /* Автоматическая ширина */
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  form label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="date"],
  form input[type="number"] {
    width: 96%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #24223f;
    border: 2px solid #000000;
  }

  form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #733fd3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  form button:hover {
    background-color: #4546a0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 20px;
  }

  .buttons button {
    background-color: #733fd3;
    border-radius: 0.5em;
    font-weight: 600;
    flex-basis: 70%;
    margin: 0 100px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: #01010e;
  }
}
